<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>User List</title>
    <!-- Include Tailwind CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-200">
    <div class="container mx-auto mt-5">
      <h1 class="text-3xl font-semibold mb-4">User List</h1>
      <table class="min-w-full">
        <thead>
          <tr>
            <th class="px-4 py-2">First Name</th>
            <th class="px-4 py-2">Last Name</th>
            <th class="px-4 py-2">Username</th>
            <th class="px-4 py-2">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user : ${userList}">
            <td class="px-4 py-2" th:text="${user.firstName}"></td>
            <td class="px-4 py-2" th:text="${user.lastName}"></td>
            <td class="px-4 py-2" th:text="${user.username}"></td>
            <td class="px-4 py-2" th:text="${user.email}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>